<loading  ng-if="validationCMD.loading"></loading>
<div ng-hide="validationCMD.loading">
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="validationCMD.err">
        <button type="button" class="close" ng-click="validationCMD.err = null;"><span aria-hidden="true">&times;</span></button>
        <strong>ERREUR : !</strong> {{validationCMD .err}}
    </div>
    <h1 class="text-center">Choix des produit</h1>
    <h2>Veuillez valider votre panier</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Adresse de livraison</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>{{validationCMD.restaurant.denomination}}</strong> : {{validationCMD.restaurant.adresse}}</td>
                <td>{{validationCMD.adresse}}</td>
            </tr>
        </tbody>
    </table>
    <h3 ng-if="!validationCMD.finish">Votre panier :</h3>
    <commande-detail ng-if="!validationCMD.finish"></commande-detail>
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="validationCMD.finish">
        <strong> Votre commande a bien étais enregister !</strong></br>
        Bonne Apétit<br>
        <a href="" ng-click="validationCMD.gotoHome()">Retour a la liste des restaurant</a>
        
    </div>
    <loading  ng-if="validationCMD.loadingValidation"></loading>
    <ul class="pager">
        <li class="previous"><a ng-href="{{validationCMD.getLinkEditor()}}">Retour</a></li>
        <li class="next" ng-if="!validationCMD.cardIsEmpty" ng-class="{disabled : validationCMD.lockValidation}"><a href="" ng-click="validationCMD.valider()">Valider</a></li>
        <li class="next" ng-class="{disabled : validationCMD.lockValidation}"><a href="" ng-click="validationCMD.annuler()">Annuler</a></li>
    </ul>
</div>