<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <!--<img alt="Logo" src="...">-->
              GustatIF
            </a>
        </div>
        <div class="header-center">
            <div class="header-titre" ng-if="headerCMD.btnsType=='string'">
                {{headerCMD.btns}}
            </div>
            <div class="header-statut" ng-if="headerCMD.btnsType=='object'">
                <a class="btn" ng-class="{'btn-primary':headerCMD.btns[0].active,'hidden-xs btn-default':!headerCMD.btns[0].active}" ng-href="{{headerCMD.btns[0].href}}">{{headerCMD.btns[0].titre}}</a>
                <strong class="hidden-xs" ng-if="headerCMD.btns[1]">&nbsp;&gt;&nbsp;</strong>
                <a class="btn" ng-class="{'btn-primary':headerCMD.btns[1].active,'hidden-xs btn-default':!headerCMD.btns[1].active}" ng-href="{{headerCMD.btns[1].href}}" ng-if="headerCMD.btns[1]">{{headerCMD.btns[1].titre}}</a>
                <strong class="hidden-xs" ng-if="headerCMD.btns[2]">&nbsp;&gt;&nbsp;</strong>
                <a class="btn" ng-if="headerCMD.btns[2]" ng-class="{'btn-primary':headerCMD.btns[2].active,'hidden-xs btn-default':!headerCMD.btns[2].active}" ng-href="{{headerCMD.btns[2].href}}">{{headerCMD.btns[2].titre}}</a>
            </div>
        </div>
        <div class="navbar-right">
            <div class="btn-group navbar-btn" ng-show="headerCMD.isLogin">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{headerCMD.user.nom}} {{headerCMD.user.prenom}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="headerCMD.deconnexion()">Déconnexion</a></li>
                </ul>
            </div>
            <div class="btn-group navbar-btn" ng-if="!headerCMD.isLogin">
                <button type="button" ng-click="headerCMD.goto('login')" class="btn btn-default">
                    Connexion
                </button>
            </div>
        </div>
    </div>
</div>
